manifest {
  author = "Chunjie Liu"
}

params {
  reads = "$baseDir/data/ggal/*_{1,2}.fq"
  transcript = "$baseDir/data/ggal/transcriptome.fa"
  multiqc = "$baseDir/multiqc"
  outdir = "$baseDir/results"
}

name = "nextflow-rnaseq"
workDir = "${HOME}/tmp/work"


dsl2 {
  enabled = true
  endpoint = '-'
}

trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}
dag {
  enabled = true
  file = "pipeline_dag.html"
}
timeline {
  enabled = true
  file = "pipeline_timeline.html"
}
report {
  enabled = true
  file = "pipeline_report.html"
}
tower {
  enabled = true
  endpoint = '-'
}

profiles {
  standard {
    process {
        cores = 1
        memory = "4G"
        disk = "10G"
        executor = "local"
    }
  }
}

