manifest {
  author = "Chunjie Liu"
  homePage = "https://github.com/chunjie-sam-liu/rmats-turbo-nf"
  mainScript = "main.nf"
}

name = "nextflow-rnaseq"
workDir = "${HOME}/tmp/work"

params {

  config = "conf/singularity.config"

  error_strategy = "finish"
  echo = false
}


process {
  errorStrategy = params.error_strategy
  echo = params.echo

}

profiles {
  standard { includeConfig params.config }
  base { includeConfig "conf/executors/base.config" }
  singularity { includeConfig "conf/singularity.config" }
}


dsl2 {
  enabled = true
  endpoint = "-"
}
trace {
  enabled = true
  file = "${params.tracedir}/pipeline_trace.txt"
  fields = "task_id,name,status,exit,realtime,%cpu,rss"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.html"
}
timeline {
  enabled = true
  file = "${params.tracedir}/pipeline_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/pipeline_report.html"
}
tower {
  enabled = true
  endpoint = "-"
}
