manifest {
  author = "Chunjie Liu"
  homePage = "https://github.com/chunjie-sam-liu/rmats-turbo-nf"
  mainScript = "main.nf"
}

name = "nextflow-rnaseq"
workDir = "${HOME}/scratch/nextflow-workspace"

params {
  // Input files
  reads = false
  bams = false


  // Main arguments
  gtf = false
  assemblyName = false
  starIndex = false
  singleEnd = false
  stranded = "first-stranded"
  strType {
    "first-stranded" {
      strType = 2
    }
    "second-stranded" {
      strType = 1
    }
  }
  readLength = false

  // Trimmomatic arguments
  minLen = false
  slideingWindow = false
  adapter = false

  // STAR arguments
  overhang = false
  mismatch = 2
  filterScore = 0.66
  sjdbOverhangMin = 3
  starMemory = false
  softClipping = true
  saveUnmapped = false

  // rMATS arguments
  statoff = false
  pairedStats = false
  novelSS = true
  mil = 50
  mel = 500

  // Other
  test = false
  skiprMATS = false
  skipMultiQC = false
  multiqc_config = "$baseDir/assets/multiqc_config.yaml"
  help = false
  mega_time = 120.h

  outdir = "results"
  tracedir = "${params.outdir}/pipeline_info"
  error_strategy = "ignore"
  allowed_error_strategies = ["terminate", "finish", "ignore", "retry"]
  cleanup = false

  // Save of .commmand.* logs
  savescript = 'task_hash=`basename \${PWD} | cut -c1-6`; mkdir command-logs-\$task_hash ; cp .command.*{err,log,sh} command-logs-\$task_hash'

  // Max resources
  max_memory = 1.TB
  max_cpus = 72
  max_time = 120.h
  gc_disk_size = false // google
  max_retries = 5



  echo = false
  config = "conf/singularity.config"
}


process {
  errorStrategy = params.error_strategy
  echo = params.echo
  // container = "chunjiesamliu/rmats-turbo-nf:latest"

}

profiles {
  standard { includeConfig params.config }
  base { includeConfig "conf/base.config" }
  singularity { includeConfig "conf/singularity.config" }
}

dsl2 {
  enabled = true
  endpoint = "-"
}
trace {
  enabled = true
  file = "${params.tracedir}/pipeline_trace.txt"
  fields = "task_id,name,status,exit,realtime,%cpu,rss"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.html"
}
timeline {
  enabled = true
  file = "${params.tracedir}/pipeline_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/pipeline_report.html"
}
tower {
  enabled = true
  endpoint = "-"
}
