params {
  // Input files
  // reads = "/home/liuc9/github/rmats-turbo-nf/data/metadata/ccle-sra-path-10.tsv"
  reads = "/home/liuc9/github/rmats-turbo-nf/data/metadata/target-sra-path-10.tsv"
  singleEnd = false
  // ngcFile = false
  ngcFile = "/home/liuc9/github/miningAS/data/tokens/target.ngc"

  // Output files
  outdir = "/home/liuc9/github/rmats-turbo-nf/data/outdir"
  publishDir = "/home/liuc9/github/rmats-turbo-nf/data/publishDir"
  tracedir = "${params.outdir}/pipeline_info"
}

tower {
  enabled = true
  endpoint = "-"
}

workDir = "${HOME}/scratch/nf-work-tmp"


executor {
  name = 'slurm'
  queueSize = 10
}
trace {
  enabled = true
  file = "${params.tracedir}/pipeline_trace.txt"
  fields = "task_id,name,status,exit,realtime,%cpu,rss"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.html"
}
timeline {
  enabled = true
  file = "${params.tracedir}/pipeline_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/pipeline_report.html"
}