params {
  // Input files
  reads = "/home/liuc9/github/rmats-turbo-nf/data/metadata/ccle-sra-path-10.tsv"
  singleEnd = false
  ngcFile = false

  // Output files
  outdir = "/home/liuc9/github/rmats-turbo-nf/data/outdir"
  publishDir = "/home/liuc9/github/rmats-turbo-nf/data/publishDir"
  tracedir = "${params.outdir}/pipeline_info"
}

tower {
  enabled = true
  endpoint = "-"
}

workDir = "${HOME}/scratch/nf-work-tmp"


executor {
  name = 'slurm'
  queueSize = 10
}