params {
  reads = "/home/liuc9/github/rmats-turbo-nf/data/metadata/ccle-sra-path-10.tsv"
  outdir = "$baseDir/output"
}

name = "nextflow-rnaseq"
workDir = "${HOME}/scratch/nextflow-workspace"

dsl2 {
  enabled = true
  endpoint = "-"
}

process {
  container = "/home/liuc9/sif/rmats-turbo-nf_latest.sif"
  executor = "slurm"
  submitRateLimit = '10 sec'
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "--bind /scr1/users/liuc9/:/scr1/users/liuc9/,/mnt/isilon/xing_lab/liuc9/:/mnt/isilon/xing_lab/liuc9/"
}

executor {
  name = 'slurm'
  queueSize = 5
}
tower {
  enabled = true
  endpoint = "-"
}
