process {
  errorStrategy = params.error_strategy
  echo = params.echo
  container = "chunjiesamliu/rmats-turbo-nf:latest"
  executor = "slurm"
}
docker {
  enabled = true
  autoMount = true
  runOptions = ["--rm --user $UID -v /scr1/users/liuc9/:/scr1/users/liuc9/,/mnt/isilon/xing_lab/liuc9/:/mnt/isilon/xing_lab/liuc9/"]
}

executor {
  name = 'slurm'
  queueSize = 100
}