process {
  container = "/home/liuc9/sif/rmats-turbo-nf_latest.sif"
  executor = "slurm"
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "--bind /scr1/users/liuc9/:/scr1/users/liuc9/,/mnt/isilon/xing_lab/liuc9/:/mnt/isilon/xing_lab/liuc9/"
}

executor {
  name = 'slurm'
  queueSize = 100
}