process {
  container = "/home/liuc9/sif/rmats-turbo-nf_latest.sif"
  executor = "slurm"
}

params {
  singularity_cache = "${HOME}/data/.singularity_tmp/cache"
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "--bind /scr1/users/liuc9/:/scr1/users/liuc9/,/mnt/isilon/xing_lab/liuc9/:/mnt/isilon/xing_lab/liuc9/,/mnt/isilon/xing_lab/aspera/liuc9/:/mnt/isilon/xing_lab/aspera/liuc9"
  cacheDir = params.singularity_cache
}

executor {
  name = 'slurm'
  queueSize = 100
}