params {
  // Input files
  projectName = "ccle"
  fastqs = "/mnt/isilon/xing_lab/aspera/xuy/test_file/*_R{1,2}_001.fasterq.#.fastq.gz"
  singleEnd = false
  readLength = 101
  ngcFile = false

  //references
  starIndex = "/home/liuc9/github/rmats-turbo-nf/refdata/star-genome-index-grch38"
  gtf = "/home/liuc9/github/rmats-turbo-nf/refdata/star-genome-index-grch38/Homo_sapiens.GRCh38.104.gtf"

  // Output files
  outdir = "${HOME}/scratch/nf-work-tmp/nf-outdir/${params.projectName}"
  publishDir = "${HOME}/scratch/nf-work-tmp/nf-publishDir/${params.projectName}"
  tracedir = "${params.outdir}/pipeline_info"
}

tower {
  enabled = true
  endpoint = "-"
}

workDir = "${HOME}/scratch/nf-work-tmp/${params.projectName}"


executor {
  name = 'slurm'
  queueSize = 1
}
trace {
  enabled = true
  file = "${params.tracedir}/pipeline_trace.txt"
  fields = "task_id,name,status,exit,realtime,%cpu,rss"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.html"
}
timeline {
  enabled = true
  file = "${params.tracedir}/pipeline_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/pipeline_report.html"
}
